@page
@model Andrianov_6_Lab.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container py-4">
    <h1>Signing out...</h1>
    <p>You are being signed out. If you are not redirected automatically, <a asp-page="/Index">click here</a>.</p>
</div>
